@page "/"

<PageTitle>Kalkulačka</PageTitle>
<h1 class="text-center">Moje Kalkulačka</h1>
<div class="calculator">
    <div class="display">@displayText</div>
    <div class="keypad">
        <div class="keypad-row">
            <button @onclick="() => AddInput(7)">7</button>
            <button @onclick="() => AddInput(8)">8</button>
            <button @onclick="() => AddInput(9)">9</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(4)">4</button>
            <button @onclick="() => AddInput(5)">5</button>
            <button @onclick="() => AddInput(6)">6</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(1)">1</button>
            <button @onclick="() => AddInput(2)">2</button>
            <button @onclick="() => AddInput(3)">3</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(0)">0</button>
            <button @onclick="() => AddDecimalPoint()">.</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => SetOperation(knownOperators[0])">@knownOperators[0]</button>
            <button @onclick="() => SetOperation(knownOperators[1])">@knownOperators[1]</button>
            <button @onclick="() => SetOperation(knownOperators[2])">@knownOperators[2]</button>
            <button @onclick="() => SetOperation(knownOperators[3])">@knownOperators[3]</button>
        </div>
        <div class="keypad-row">
            <button class="btn btn-primary" @onclick="() => CalculateResult()">=</button>
            <button class="btn btn-danger" @onclick="() => Clear()">C</button>
        </div>
    </div>
</div>

<div class="container">
    <h2>Historie</h2>
    @* EXTRA: Pridejte logiku zobrazovani hisorie *@
</div>

@code {
    private string displayText = ""; // Aktualni text na displayi
    private double firstNumber = 0; // První číslo
    private string selectedOperator; // Operátor
    private string[] knownOperators = { "+", "-", "*", "/" }; //TODO: přidejte mocnění, přidejte poté i tlačítko
    private List<string> history = new List<string>(); //EXTRA: history reprezentuje

    //TODO: Budeme potřebovat instanciovat naši kalkulačku.

    //TODO: Vyřešte funkcionalitu zadávání číselných vstupů.
    private void AddInput(int number)
    {
    }
    //TODO: Vyřešte funkcionalitu přidání desetinné čárky.
    private void AddDecimalPoint()
    {

    }

    //TODO: Zpracuje aktuální text na displayi jako první číslo, vyčistí display, a dle stisknuté operace uloží operaci do
    // proměnné selectedOperator.
    private void SetOperation(string operationInput)
    {

    }

    //TODO: Zpracuje aktuální text na displayi jako druhé číslo, necháme kalkulačku vypočítat výsledek. Výsledek pak zobrazí
    //na display.
    //Extra: Zapamatuje si celý výraz a přidá ho do historie
    private void CalculateResult()
    {

    }

    //TODO: Vymaže všechen text aktuálně zapsaný na displayi.
    private void Clear()
    {

    }
}
