@page "/"

<PageTitle>Kalkulačka</PageTitle>

<div class="calculator">
    <div class="display">@displayText</div>
    <div class="keypad">
        <div class="keypad-row">
            <button @onclick="() => AddInput(7)">7</button>
            <button @onclick="() => AddInput(8)">8</button>
            <button @onclick="() => AddInput(9)">9</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(4)">4</button>
            <button @onclick="() => AddInput(5)">5</button>
            <button @onclick="() => AddInput(6)">6</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(1)">1</button>
            <button @onclick="() => AddInput(2)">2</button>
            <button @onclick="() => AddInput(3)">3</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(0)">0</button>
            <button @onclick="() => AddDecimalPoint()">.</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => SetOperation(knownOperators[0])">@knownOperators[0]</button>
            <button @onclick="() => SetOperation(knownOperators[1])">@knownOperators[1]</button>
            <button @onclick="() => SetOperation(knownOperators[2])">@knownOperators[2]</button>
            <button @onclick="() => SetOperation(knownOperators[3])">@knownOperators[3]</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => CalculateResult()">=</button>
            <button @onclick="() => Clear()">C</button>
        </div>
    </div>
</div>

@code {
    private string displayText = ""; // Text na displayi
    private double firstNumber = 0; // První číslo
    private string operation; // Operátor
    private string[] knownOperators = { "+", "-", "*", "/" }; //TODO: přidejte mocnění, přidejte tlačítko

    //TODO: Budeme potřebovat instanciovat naši kalkulačku.

    //TODO: Vyřešit funkcionalitu zadávání číselných vstupů.
    private void AddInput(int number)
    {

    }
    //TODO: Vyřešit funkcionalitu přidání desetinné čárky.
    private void AddDecimalPoint()
    {

    }

    //TODO: zpracuje aktuální text na displayi jako první číslo, vyčistí jej, a dle stisknuté operace uloží operaci do
    // proměnné operation.
    private void SetOperation(string operationInput)
    {

    }

    //TODO: zpracuje aktuální text na displayi jako druhé číslo, nechá kalkulačku vypočítat výsledek. Výsledek pak zobrazí
    //na display.
    private void CalculateResult()
    {
    }

    //TODO: vymaže všechna aktuální čísla zapsaná na displayi.
    private void Clear()
    {

    }
}
